/* *{
    border: 1px dashed red;
} */
body{
    margin: auto;
}


#header{
    width: auto;
    margin: auto;
}
.alert{
    background-color: rgb(250, 210, 217);
    margin-top: 5%;
    justify-content: center;
    color: rgb(151, 50, 67);
    box-shadow: 1px 1px 10px 1px rgb(141, 66, 79);
    
} 
 
.glow{
    animation: animate 1.5s linear infinite;

}
@keyframes animate{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 2.7;
  }
  100%{
    opacity: 0;
  }
}
img {
    transition: transform .1s ease-in-out;
  }
  img:hover {
    transform: scale(1.5);
  }
